
bin/Debug/netcoreapp2.1/PedidoApi.pdb
bin/Debug/netcoreapp2.1/PedidoApi.dll
bin/Debug/netcoreapp2.1/PedidoApi.deps.json
bin/Debug/netcoreapp2.1/PedidoApi.runtimeconfig.dev.json
*.dll
bin/Debug/netcoreapp2.1/PedidoApi.deps.json
bin/Debug/netcoreapp2.1/PedidoApi.deps.json
bin/Debug/netcoreapp2.1/PedidoApi.dll
