
bin/Debug/netcoreapp2.1/PedidoApi.pdb
bin/Debug/netcoreapp2.1/PedidoApi.dll
bin/Debug/netcoreapp2.1/PedidoApi.deps.json
bin/Debug/netcoreapp2.1/PedidoApi.runtimeconfig.dev.json
*.dll
bin/Debug/netcoreapp2.1/PedidoApi.deps.json
bin/Debug/netcoreapp2.1/PedidoApi.deps.json
bin/Debug/netcoreapp2.1/PedidoApi.dll
obj/Debug/netcoreapp2.1/PedidoApi.assets.cache
obj/Debug/netcoreapp2.1/PedidoApi.dll
*.dll
bin/Debug/netcoreapp2.1/PedidoApi.dll
bin/Debug/netcoreapp2.1/PedidoApi.pdb
bin/Debug/netcoreapp2.1/PedidoApi.runtimeconfig.dev.json
bin/Debug/netcoreapp2.1/publish/PedidoApi.deps.json
bin/Debug/netcoreapp2.1/publish/PedidoApi.dll
bin/Debug/netcoreapp2.1/publish/PedidoApi.pdb
obj/Debug/netcoreapp2.1/PedidoApi.assets.cache
obj/Debug/netcoreapp2.1/PedidoApi.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp2.1/PedidoApi.csprojAssemblyReference.cache
obj/Debug/netcoreapp2.1/PedidoApi.dll
obj/Debug/netcoreapp2.1/PedidoApi.pdb
obj/PedidoApi.csproj.nuget.cache
obj/PedidoApi.csproj.nuget.dgspec.json
obj/PedidoApi.csproj.nuget.g.props
obj/project.assets.json
bin/Debug/netcoreapp2.1/PedidoApi.dll
bin/Debug/netcoreapp2.1/PedidoApi.dll
bin/Debug/netcoreapp2.1/PedidoApi.pdb
bin/Debug/netcoreapp2.1/publish/PedidoApi.dll
bin/Debug/netcoreapp2.1/publish/PedidoApi.pdb
obj/Debug/netcoreapp2.1/PedidoApi.dll
obj/Debug/netcoreapp2.1/PedidoApi.pdb
obj/PedidoApi.csproj.nuget.cache
obj/PedidoApi.csproj.nuget.dgspec.json
